@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/f000.woff2) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/f001.woff2) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/f002.woff2) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/f004.woff2) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans KR';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/f003.woff2) format('truetype');
}
